= render :partial => "users/usersidebox"
.mainbox
  .formbox
    .title
      文章
    .nav
      %ul
        %li= link_to "列表", articles_url
        %li= link_to "编辑", js_void, :class => "on"
        .clearfix
    .formstyle#idname
      = render :partial => "form", :locals => {:article => @article}
    :javascript
      
        
.clearfix
