.banner
  .layout
    .title
      查看用户
.layout
  %table.styled
    %thead
      %tr
        %th
          
        %th
          
    %tbody
      %tr
        %td
          登陆账号
        %td
          = @user.email
      %tr
        %td
          显示名称
        %td
          = @user.name
    %tfoot
      %tr
        %td{:colspan => 3}
          = link_to "编辑", edit_ezadmin_user_url(@user)
          = link_to "删除", ezadmin_user_url(@user), :title => "删除", :method => "delete", :confirm => "点击确定继续"
