%ul.homebtn
  %li= link_to "写文字", write_users_url, :class => "text"
  %li= link_to "传图片", upload_users_url, :class => "photo"
  %li= link_to "发视频", pubvideo_users_url, :class => "video"
  / %li= link_to "发起活动", "", :class => "activity"
  %li= link_to "发布商品", pubgood_users_url, :class => "goods"
  .clearfix