.userbox
  .userpic
    = image_tag(@user.avatar.url)
  .username
    = @user.name
  .userinfo
    %ul
      %li
        .up
          文章
        .down
          8
      %li
        .up
          粉丝
        .down
          8
      %li
        .up
          关注
        .down
          8
      %li.noborder
        .up
          收藏
        .down
          8
      .clearfix
  .homebtn
    = link_to image_tag("myhome.jpg"), user_url(current_user_id)
