.userbox
  .userpic
    = image_tag("/assets/default.jpg")
  .username
    这是用户名的位置
  .userinfo
    %ul
      %li
        .up
          文章
        .down
          8
      %li
        .up
          粉丝
        .down
          8
      %li
        .up
          关注
        .down
          8
      %li.noborder
        .up
          收藏
        .down
          8
      .clearfix
  .homebtn
    = image_tag("/assets/myhome.jpg")
