= render :partial => "users/usersidebox"
.mainbox
  .formbox
    .title
      商品
    .nav
      %ul
        %li= link_to "列表", items_url
        %li= link_to "添加", js_void, :class => "on"
        .clearfix
    .formstyle
      = render :partial => "form", :locals => {:item => @item}
        
.clearfix