/*
* design by liwei
* railser.cn
* hi@liwei.me
*/

$primary_color: #266DBB;   // blue
$secondary_color: #272727; // dark
$lightblue: #5092DC;
$lightdark: #444444;

/* general style */
* {
  margin: 0;
  outline: medium none;
  padding: 0; }

body {
  color: #000000;
  font-size: 14px;
  padding: 0;
  margin: 0; 
  font-family: arial, '宋体', sans-serif;}

a {
  text-decoration: none;
  color: $primary_color; }
  img {
    border: none; }

a:hover {
  text-decoration: none; }

ul, ol {
  list-style: none; }

.right {
  float: right; }

.left {
  float: left; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.clearfix {
  clear: both; }

.hide {
  display: none; }

.layout {
  width: 990px;
  margin: 0 auto;
}
.login-layout {
  width: 360px;
  margin: 0 auto;
}

.header {
  background-color: $secondary_color;
  .topnav {
    line-height: 26px;
    height: 26px;
    a {
      font-size: 12px;
      color: #fff;
    }
  }
  .logo {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .nav {
    ul li {
      float: left;
      background-color: $lightdark;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin-right: 2px;
      a {
        display: block;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      a:hover {
        background-color: $lightblue;
      }
      a.on {
        background-color: $primary_color;
      }
    }
  }
}

.footer {
  border-top: 4px solid #D9D9D9;
  padding-top: 20px;
  text-align: center;
  color: #999999;
}

.login-form {
  padding-top: 20px;
  .tr {
    margin-bottom: 20px;
    color: $secondary_color;
    .input {
      border: 1px solid #C4C4C4;
      padding: 4px;
      color: #777;
    }
    .btn {
      border: 1px solid #749217;
      background-color: #6AB620;
      color: #fff;
      display: inline-block;
      padding: 5px 10px;
      font-size: 14px;
      border-radius: 4px 4px 4px 4px;
    }
  }
}

.error, .notice {
  height: 40px;
  line-height: 40px;
  background: image-url('info.png') no-repeat 8px 50% #E8F6FF;
  border: 1px solid #B8E2FB;
  padding-left: 32px;
  margin-bottom: 20px;
}

.mainbox {
  border-top: 4px solid $primary_color;
  min-height: 600px;
}

.banner {
  background-color: $lightblue;
  .title {
    color: #fff;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
  }
}


table.styled {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
  th,td {
    line-height: 18px;
    padding: 8px 12px;
  }
  thead {
    th {
      background-color: #2A7AD2 !important;
      color: #FFFFFF;
      text-align: left;
    }
  }
  tr.high {
    background-color: #FFFFAA !important;
  }
  tbody, tfoot {
    th, td {
      border-bottom: 1px solid #EEEEEE;
    }
  }
  tfoot {
    td {
      background-color: #F2F2F2 !important;
      border-bottom: 2px solid #DDDDDD;
      a {
        font-size: 12px;
      }
    }
  }
  .input {
    border: 1px solid #C4C4C4;
    padding: 4px;
    color: #777;
  }
  .submit {
    border: 1px solid #749217;
    background-color: #6AB620;
    color: #fff;
    display: inline-block;
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 4px 4px 4px 4px;
  }
  .fullwidth {
    width: 100% !important;
  }
}


.pagination {
  height: 23px;
  span.previous_page, span.next_page {
    padding: 3px 6px;
  }
  span.previous_page, a.previous_page {
  }
  span.next_page, a.next_page {
  }
  a {
    margin: 0 5px 0 0;
    padding: 3px 6px;
    text-decoration: none;
  }
  a:hover {
    background: none repeat scroll 0 0 #00555A;
    color: #FFFFFF;
  }
  em {
    margin: 0 5px 0 0;
    padding: 3px 6px;
    font-style: normal;
    background: none repeat scroll 0 0 #00555A;
    color: #FFFFFF;
  }
}








