/*
* design by liwei
* railser.cn
* hi@liwei.me
*/
$primary_color: #65C5B3;   //light
$secondary_color: #1D8B75; //dark
$grey: #888;
* {
  margin: 0;
  outline: medium none;
  padding: 0; }

body {
  color: #000000;
  font-size: 14px;
  padding: 0;
  margin: 0; 
  font-family: 'arial', '宋体', 'sans-serif';
}

a {
  text-decoration: none;
  color: $secondary_color; }
  img {
    border: none; }

a:hover {
  text-decoration: none; }

ul, ol {
  list-style: none; }


.hide {
  display: none;
}
.show {
  display: block;
}
.right {
  float: right;
}
.clearfix {
  clear: both; }

.items_list {
  li {
    width: 220px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    .poster {
      width: 60px;
      float: left;
    }
    .info {
      width: 150px;
      float: left;
      margin-left: 10px;
      .title {
        line-height: 30px;
      }
      .brand {
        line-height: 30px;
        font-size: 12px;
        span {
          color: grey;
        }
      }
    }
  }
}
  
.action {
  border-top: 1px solid #efefef;
  padding-top: 10px;
}

table {
  td {
    padding: 6px 0;
    input {
      border: 1px solid #AAA;
      padding: 4px;
    }
  }
}


