/*
* design by liwei
* railser.cn
* hi@liwei.me
*/

$primary_color: #ffcc66; // yellow #cc3366(pink)
$secondary_color: #333;  // #555
$border_color: #dddddd;
$grey1: #cccccc;
$grey2: #f6f6f6;
$blue: #3333cc; // main title a style
$pink: #FF66AA;

/* general style */
* {
  margin: 0;
  outline: medium none;
  padding: 0; }

body {
  color: #000000;
  font-size: 14px;
  padding: 0;
  margin: 0; 
  font-family: 'arial', '宋体', 'sans-serif';}

a {
  text-decoration: none;
  color: $secondary_color; }
  img {
    border: none; }

a:hover {
  text-decoration: none; }

ul, ol {
  list-style: none; }

.right {
  float: right; }

.left {
  float: left; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.clearfix {
  clear: both; }

.hide {
  display: none; }

$layout-width: 1100px;
.layout {
  width: $layout-width;
  margin: 0 auto;
}

.mb {
  margin-bottom: 20px;
}

.noborder {
  border: none !important;
}

.bg1 {
  background: image-url('bg.png');
}

.header {
  .logo {
    height: 120px;
  }
  .nav {
    $nav_li_width: 70px;
    $nav_height: 36px;
    background-color: $primary_color;
    ul {
      li {
        width: $nav_li_width;
        height: $nav_height;
        line-height: $nav_height;
        float: left;
        text-align: center;
        a {
          font-weight: bold;
          display: block;
          width:  $nav_li_width;
          height: $nav_height;
        }
        a:hover {
          background-color: $secondary_color;
          color: white;
        }
        a.on {
          background-color: $secondary_color;
          color: white;
        }
      }
      li.logo {
        width: 128px;
      }
    }
    .action {
      a {
        display: inline-block;
        margin-left: 10px;
        height: $nav_height;
        line-height: $nav_height;
        font-size: 12px;
        color: $secondary_color;
        text-align: center;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  border-top: 1px solid #a9a9a9;
  a {
    font-size: 12px;
  }
}

.formbox {
  width: 400px;
  li {
    $li_height: 27px;
    clear: both;
    padding-top: 30px;
    label {
      display: block;
      float: left;
      line-height: $li_height;
      width: 81px;
    }
    span {
      display: block;
      float: left;
      width: 211px;
      color: grey;
      .input {
        background: image-url('bg-input.png') no-repeat scroll left top transparent;
        border: medium none;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
        height: 15px;
        padding: 6px 10px;
        width: 191px;
      }
      .radiobox {
        border: none;
      }
    }
    div {
      padding-left: 81px;
      a.other {
        display: block;
        float: right;
        text-align: right;
        width: 80px;
        font-size: 11px;
        text-decoration: underline;
      }
      .btn {
        width: 120px;
        height: $li_height;
        border: none;
        background-color: $primary_color;
        color: $secondary_color;
        font-size: 14px;
        cursor: pointer;
      }
    }
    div.notice {
      color: grey;
      font-size: 11px;
    }
    div.error {
      color: red;
      font-size: 11px;
    }
    div.field_with_errors {
      padding: 0;
      border: 1px solid red;
    }
  }
}

.pagination {
  height: 23px;
  padding: 20px 0 0 0;
  span.previous_page, span.next_page {
    padding: 3px 6px;
  }
  span.previous_page, a.previous_page {
  }
  span.next_page, a.next_page {
  }
  a {
    margin: 0 5px 0 0;
    padding: 3px 6px;
    text-decoration: none;
  }
  a:hover {
    background: none repeat scroll 0 0 $primary_color;
    color: #FFFFFF;
  }
  em {
    margin: 0 5px 0 0;
    padding: 3px 6px;
    font-style: normal;
    background: none repeat scroll 0 0 $primary_color;
    color: #FFFFFF;
  }
}

.noticediv {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: green;
}

.errordiv {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: red;
}

.mainbox {
  padding-top: 20px;
  $leftbox-width: 190px;
  $rightbox-width: 190px;
  $rightbox-width-wide: 320px;
  $margin: 10px;
  .leftbox {
    width: $leftbox-width;
    float: left;
  }
  .rightbox {
    width: $rightbox-width;
    float: right;
  }
  .middlebox {
    width: $layout-width - $leftbox-width - $rightbox-width - $margin - $margin; 
    float: left;
    margin-left: $margin;
  }
  .medium-width {
    width: $rightbox-width-wide !important;
  }
  .with-medium-width {
    width: $layout-width - $leftbox-width - $rightbox-width-wide - $margin - $margin !important;
  }
  .box {
    $padding: 10px;
    border: 1px solid $border_color;
    margin-bottom: $margin;
    .title {
      height: 30px;
      line-height: 30px;
      padding-left: $padding;
      color: red;
    }
    .content {
      $height: 24px;
      padding: $padding;
      padding-top: 0;
      .category li {
        float: left;
        width: 80px;
        line-height: $height;
        a {
          color: $blue;
        }
      }
      .news-list li {
        line-height: $height;
        a {
          text-decoration: underline;
          color: $blue;
        }
        a:hover {
          text-decoration: none;
        }
        .info {
          color: grey;
          font-size: 12px;
        }
      }
    }
  }
  .showbox {
    float: left;
    width: $layout-width - $rightbox-width-wide - $margin;
    .title {
      line-height: 32px;
      font-size: 18px;
    }
    span {
      color: grey;
    }
    .schedule, .address, .telphone, .tags {
      line-height: 26px;
    }
    .tags {
      a {
        color: $blue;
      }
      a:hover {
        background-color: $blue;
        color: white;
      }
    }
    .action {
      height: 32px;
      line-height: 32px;
      border-top: 1px solid $grey1;
      margin-bottom: 20px;
    }
    .detail {
      border: 1px solid $grey1;
      .title {
        height: 32px;
        line-height: 32px;
        background-color: $primary_color;
        border-bottom: 1px solid $grey1;
        strong {
          margin-left: 20px;
          font-size: 14px;
        }
      }
      .intro {
        padding: 20px;
      }
      .brands {
        height: 40px;
      }
    }
    .comments {
      $width: 770px;
      $left: 40px;
      $right: $width - $left - 10px;
      .title {
        line-height: 30px;
        font-size: 14px;
      }
      .write {
        width: $width;
        .input {
          width: 100%;
        }
        .write_action {
          padding-top: 10px;
          text-align: right;
          .btn {
            display: inline-block;
            width: 76px;
            height: 22px;
            line-height: 22px;
            color: #333;
            text-align: center;
            background-color: #FFCC66;
            border: 1px solid #FFCC66;
            border-radius: 4px;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
      .list {
        .item {
          margin-bottom: 10px;
          .avatar {
            width: $left;
            float: left;
          }
          .intro {
            width: $right;
            margin-left: 10px;
            float: left;
            .name {
              a {
                color: $pink;
              }
            }
            .content {
              line-height: 180%;
            }
          }
        }
      }
    }
    
  }
}

$rightarea-width: 250px;
.leftarea {
  $mb: 20px;
  width: $layout-width - $rightarea-width - 10px;
  min-height: 500px;
  float: left;
  .banner {
    margin-bottom: 20px;
  }
  ul.homebtn {
    padding: 10px 0;
    background-color: #fff;
    margin-bottom: $mb;
    border: 1px solid $border_color;
    li {
      width: 100px;
      height: 74px;
      float: left;
      a {
        display: block;
        width: 100px;
        height: 74px;
        background: image-url('homebtn.jpg') no-repeat 0 0;
        text-indent: -9999px;
      }
      a.text {
        background-position: 0 0;
      }
      a.text:hover {
        background-position: 0 -74px;
      }
      a.photo {
        background-position: -100px 0;
      }
      a.photo:hover {
        background-position: -100px -74px;
      }
      a.video {
        background-position: -300px 0;
      }
      a.video:hover {
        background-position: -300px -74px;
      }
      a.activity {
        background-position: -200px 0;
      }
      a.activity:hover {
        background-position: -200px -74px;
      }
      a.goods {
        background-position: -400px 0;
      }
      a.goods:hover {
        background-position: -400px -74px;
      }
      a.brands {
        background-position: -500px 0;
      }
      a.brands:hover {
        background-position: -500px -74px;
      }
    }

  }
  ul.homenav {
    padding-left: 20px;
    height: 30px;
    border-bottom: 1px solid $grey1;
    position: relative;
    margin-bottom: $mb;
    li {
      float: left;
      height: 30px;
      line-height: 30px;
      margin-right: 1px;
      a {
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        border:  1px solid $grey1;
        border-bottom: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: relative;
        z-index: 999;
      }
      a:hover {
        text-decoration: underline;
      }
      a.on {
        background: image-url('bg.png');
        border-bottom: 1px solid $grey2;
        border-bottom: none;
      }
      a.on:hover {
        text-decoration: none;
      }
    }
  }
  .list {
    background-color: #fff;
    border: 1px solid $border_color;
    .item {
      margin: 0 auto;
      padding: 20px;
      border-bottom: 1px dashed $grey1;
      .avatar {
        float: left;
        width: 100px;
        img {
          width: 80px;
          height: 80px;
          border: 1px solid $grey1;
        }
      }
      .content {
        float: left;
        width: 620px;
        overflow: hidden;
        .name {
          color: #cc3399;
          height: 30px;
          line-height: 30px;
        }
        .title {
          line-height: 40px;
          font-size: 18px;
          color: #333;
          a {
            text-decoration: underline;
          }
        }
        .text {
          line-height: 30px;
        }
        .action {
          height: 30px;
          line-height: 30px;
          color: #666;
          font-size: 12px;
          a {
            color: #666;
            font-size: 12px;
          }
          .tags {
            span {
              margin-right: 4px;
              a {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .show {
    background-color: #fff;
    border: 1px solid $border_color;
    .fixlayout {
      margin: 0 auto;
      padding: 20px;
      .avatar {
        float: left;
        width: 100px;
        img {
          width: 80px;
          height: 80px;
          border: 1px solid $grey1;
        }
      }
      .content {
        float: left;
        width: 620px;
        .name {
          color: #cc3399;
          height: 30px;
          line-height: 30px;
        }
        .title {
          line-height: 40px;
          font-size: 18px;
          color: #333;
          a {
            text-decoration: underline;
          }
        }
        .text {
          line-height: 30px;
        }
        .action {
          height: 30px;
          line-height: 30px;
          color: #666;
          font-size: 12px;
          a {
            color: #666;
            font-size: 12px;
          }
          .tags {
            span {
              margin-right: 4px;
              a {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

.rightarea {
  width: $rightarea-width;
  min-height: 480px;
  float: right;
  .userbox {
    border: 1px solid $border_color;
    background-color: #fff;
    .userpic {
      padding-top: 20px;
      text-align: center;
      img {
        border: 1px solid $grey1;
        width: 160px;
        height: 160px;
      }
    }
    .username {
      text-align: center;
      height: 40px;
      line-height: 40px;
    }
    .userinfo {
      ul {
        border-bottom: 1px dashed $grey1;
        padding: 10px 0;
        margin-bottom: 10px;
        li {
          float: left;
          width: 60px;
          height: 54px;
          border-right: 1px solid $grey1;
          text-align: center;
          .up {
            height: 24px;
            line-height: 24px;
          }
          .down {
            height: 30px;
            line-height: 30px;
            overflow: hidden;
          }
        }
      }
    }
    .homebtn {
      padding: 20px 0;
      text-align: center;
    }
  }
}

.writediv {
  .singlediv {
    margin-bottom: 10px;
    .title {
      line-height: 30px;
      small {
        font-size: 12px;
        color: grey;
      }
    }
    .inputdiv {
      .input {
        width: 600px;
        height: 30px;
        padding: 4px;
        border: 1px solid #ddd;
        border-bottom: 1px solid #b7b7b7;
        font-size: 16px;
      }
      .small {
        width: 80px !important;
      }
    }
  }
  .btns {
    .submit {
      display: block;
      width: 76px;
      height: 36px;
      line-height: 36px;
      color: #fff;
      text-align: center;
      background-color: #006666;
      border: 1px solid #006666;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
    }
    a.cancel {
      display: block;
      width: 76px;
      height: 36px;
      line-height: 36px;
      color: grey;
      text-align: center;
      background-color: $grey1;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.comp_area {
  li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    a {
      color: $blue;
    }
    a:hover {
      background-color: $blue;
      color: white;
    }
  }
}

.display_select {
  height: 32px;
  line-height: 32px;
  border: 1px solid #E4E4E4;
  background: image-url("32bg.jpg") repeat-x;
}

.infos_list {
  $margin: 10px;
  .item {
    min-height: 120px;
    margin: 0 10px;
    margin-bottom: $margin;
    border-bottom: 1px dashed $grey1;
    .title {
      line-height: 32px;
      a {
        color: $blue;
      }
    }
    span {
      color: grey;
    }
    .schedule {
      line-height: 26px;
    }
    .address {
      line-height: 26px;
    }
    .tags {
      line-height: 26px;
      a {
        color: $blue;
      }
      a:hover {
        background-color: $blue;
        color: white;
      }
    }
  }
}

.goods_list {
  width: 800px;
  .item {
    width: 220px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid $border_color;
    padding-top: 18px;
    .poster {
      width: 180px;
      height: 270px;
      margin: 0 auto;
      position: relative;
      .action {
        width: 60px;
        height: 30px;
        line-height: 30px;
        position: absolute;
        bottom: 0;
        right: 10px;
        a {
          color: red;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .userbox {
      height: 50px;
      margin: 0 20px 18px 20px;
      padding-top: 10px;
      text-align: left;
      position: relative;
      .user_name {
        position: absolute;
        left: 50px;
        top: 10px;
      }
    }
    .title {
      height: 50px;
      margin: 0 20px 18px 20px;
      padding-top: 10px;
      text-align: left;
      overflow: hidden;
      position: relative;
    }
  }
}

.goods_tags {
  width: 300px;
  ul {
    li {
      float: left;
      line-height: 30px;
      a {
        display: block;
        padding: 4px 10px;
      }
      a:hover {
        color: #fff;
        background-color: $pink;
        border-radius: 4px;
      }
    }
  }
}

.goods_view {
  width: 790px;
  .display {
    margin-bottom: 10px;
    .poster {
      width: 320px;
    }
    .intro {
      width: 470px;
      .title {
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 32px;
      }
      .price {
        margin-left: 20px;
        margin-bottom: 10px;
        span {
          color: grey;
        }
      }
      .like {
        margin-left: 20px;
        margin-bottom: 10px;
        a {
          display: inline-block;
          width: 76px;
          height: 36px;
          line-height: 36px;
          color: #333;
          text-align: center;
          background-color: $pink;
          border: 1px solid $pink;
          border-radius: 4px;
          font-size: 18px;
          cursor: pointer;
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
  .shares {
    margin-bottom: 20px;
    .title {
      line-height: 30px;
    }
    .thumb {
      margin-right: 2px;
    }
  }
  .comments {
    .title {
      line-height: 30px;
    }
    .write {
      width: 790px;
      .input {
        width: 100%;
      }
      .action {
        padding-top: 10px;
        text-align: right;
        .btn {
          display: inline-block;
          width: 76px;
          height: 22px;
          line-height: 22px;
          color: #333;
          text-align: center;
          background-color: $pink;
          border: 1px solid $pink;
          border-radius: 4px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
    .list {
      .item {
        margin-bottom: 10px;
        .avatar {
          width: 40px;
          float: left;
        }
        .intro {
          width: 740px;
          margin-left: 10px;
          float: left;
          .name {
            a {
              color: $pink;
            }
          }
          .content {
            line-height: 180%;
          }
        }
      }
    }
  }
}

.articles_list {
  width: 800px;
  .item {
    width: 220px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid $border_color;
    padding-top: 18px;
    .poster {
      width: 180px;
      height: 270px;
      margin: 0 auto;
      position: relative;
      .action {
        width: 80px;
        height: 30px;
        line-height: 30px;
        position: absolute;
        bottom: 0;
        right: 10px;
        a {
          color: red;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .userbox {
      height: 50px;
      margin: 0 20px 18px 20px;
      padding-top: 10px;
      text-align: left;
      position: relative;
      .user_name {
        position: absolute;
        left: 50px;
        top: 10px;
      }
    }
    .title {
      height: 50px;
      margin: 0 20px 18px 20px;
      padding-top: 10px;
      text-align: left;
      overflow: hidden;
      position: relative;
    }
  }
}

.articles_tags {
  width: 300px;
  ul {
    li {
      float: left;
      line-height: 30px;
      a {
        display: block;
        padding: 4px 10px;
      }
      a:hover {
        color: #fff;
        background-color: $pink;
        border-radius: 4px;
      }
    }
  }
}

.articles_view {
  width: 790px;
  .display {
    margin-bottom: 10px;
    .poster {
      width: 320px;
    }
    .intro {
      width: 470px;
      .title {
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 32px;
      }
      .like {
        margin-left: 20px;
        margin-bottom: 10px;
        a {
          display: inline-block;
          width: 76px;
          height: 36px;
          line-height: 36px;
          color: #333;
          text-align: center;
          background-color: $pink;
          border: 1px solid $pink;
          border-radius: 4px;
          font-size: 18px;
          cursor: pointer;
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
  .shares {
    margin-bottom: 20px;
    .title {
      line-height: 30px;
    }
    .thumb {
      margin-right: 2px;
    }
  }
  .comments {
    .title {
      line-height: 30px;
    }
    .write {
      width: 790px;
      .input {
        width: 100%;
      }
      .action {
        padding-top: 10px;
        text-align: right;
        .btn {
          display: inline-block;
          width: 76px;
          height: 22px;
          line-height: 22px;
          color: #333;
          text-align: center;
          background-color: $pink;
          border: 1px solid $pink;
          border-radius: 4px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
    .list {
      .item {
        margin-bottom: 10px;
        .avatar {
          width: 40px;
          float: left;
        }
        .intro {
          width: 740px;
          margin-left: 10px;
          float: left;
          .name {
            a {
              color: $pink;
            }
          }
          .content {
            line-height: 180%;
          }
        }
      }
    }
  }
}

.brands_list {
  width: 800px;
  .item {
    width: 220px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid $border_color;
    padding-top: 18px;
    .poster {
      width: 180px;
      height: 270px;
      margin: 0 auto;
      position: relative;
      .action {
        width: 80px;
        height: 30px;
        line-height: 30px;
        position: absolute;
        bottom: 0;
        right: 10px;
        a {
          color: red;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .userbox {
      height: 50px;
      margin: 0 20px 18px 20px;
      padding-top: 10px;
      text-align: left;
      position: relative;
      .user_name {
        position: absolute;
        left: 50px;
        top: 10px;
      }
    }
    .title {
      height: 50px;
      margin: 0 20px 18px 20px;
      padding-top: 10px;
      text-align: left;
      overflow: hidden;
      position: relative;
    }
  }
}

.brands_tags {
  width: 300px;
  ul {
    li {
      float: left;
      line-height: 30px;
      a {
        display: block;
        padding: 4px 10px;
      }
      a:hover {
        color: #fff;
        background-color: $pink;
        border-radius: 4px;
      }
    }
  }
}

.brands_view {
  width: 790px;
  .display {
    margin-bottom: 10px;
    .poster {
      width: 320px;
    }
    .intro {
      width: 470px;
      .title {
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 32px;
      }
      .like {
        margin-left: 20px;
        margin-bottom: 10px;
        a {
          display: inline-block;
          width: 76px;
          height: 36px;
          line-height: 36px;
          color: #333;
          text-align: center;
          background-color: $pink;
          border: 1px solid $pink;
          border-radius: 4px;
          font-size: 18px;
          cursor: pointer;
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
  .shares {
    margin-bottom: 20px;
    .title {
      line-height: 30px;
    }
    .thumb {
      margin-right: 2px;
    }
  }
  .comments {
    .title {
      line-height: 30px;
    }
    .write {
      width: 790px;
      .input {
        width: 100%;
      }
      .action {
        padding-top: 10px;
        text-align: right;
        .btn {
          display: inline-block;
          width: 76px;
          height: 22px;
          line-height: 22px;
          color: #333;
          text-align: center;
          background-color: $pink;
          border: 1px solid $pink;
          border-radius: 4px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
    .list {
      .item {
        margin-bottom: 10px;
        .avatar {
          width: 40px;
          float: left;
        }
        .intro {
          width: 740px;
          margin-left: 10px;
          float: left;
          .name {
            a {
              color: $pink;
            }
          }
          .content {
            line-height: 180%;
          }
        }
      }
    }
  }
}
