/*
* design by liwei
* railser.cn
* hi@liwei.me
*/

$primary_color: #ffcc66; // yellow #cc3366(pink)
$secondary_color: #333;  // #555
$border_color: #dddddd;
$grey1: #cccccc;
$grey2: #f6f6f6;


/* general style */
* {
  margin: 0;
  outline: medium none;
  padding: 0; }

body {
  color: #000000;
  font-size: 14px;
  padding: 0;
  margin: 0; 
  font-family: 'arial', '宋体', 'sans-serif';}

a {
  text-decoration: none;
  color: $secondary_color; }
  img {
    border: none; }

a:hover {
  text-decoration: none; }

ul, ol {
  list-style: none; }

.right {
  float: right; }

.left {
  float: left; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.clearfix {
  clear: both; }

.hide {
  display: none; }

.layout {
  width: 960px;
  margin: 0 auto;
}

.mb {
  margin-bottom: 20px;
}

.noborder {
  border: none !important;
}

.bg1 {
  background: url("/assets/bg1.png");
}

.header {
  .logo {
    height: 120px;
  }
  .nav {
    $nav_li_width: 70px;
    $nav_height: 36px;
    background-color: $primary_color;
    ul {
      li {
        width: $nav_li_width;
        height: $nav_height;
        line-height: $nav_height;
        float: left;
        text-align: center;
        a {
          font-weight: bold;
          display: block;
          width:  $nav_li_width;
          height: $nav_height;
        }
        a:hover {
          background-color: $secondary_color;
          color: white;
        }
        a.on {
          background-color: $secondary_color;
          color: white;
        }
      }
      li.logo {
        width: 128px;
      }
    }
    .action {
      a {
        display: inline-block;
        margin-left: 10px;
        height: $nav_height;
        line-height: $nav_height;
        font-size: 12px;
        color: $secondary_color;
        text-align: center;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  border-top: 1px solid #a9a9a9;
  a {
    font-size: 12px;
  }
}

.formbox {
  width: 400px;
  li {
    $li_height: 27px;
    clear: both;
    padding-top: 30px;
    label {
      display: block;
      float: left;
      line-height: $li_height;
      width: 81px;
    }
    span {
      display: block;
      float: left;
      width: 211px;
      color: grey;
      .input {
        background: url("/assets/bg-input.png") no-repeat scroll left top transparent;
        border: medium none;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
        height: 15px;
        padding: 6px 10px;
        width: 191px;
      }
      .radiobox {
        border: none;
      }
    }
    div {
      padding-left: 81px;
      a.other {
        display: block;
        float: right;
        text-align: right;
        width: 80px;
        font-size: 11px;
        text-decoration: underline;
      }
      .btn {
        width: 120px;
        height: $li_height;
        border: none;
        background-color: $primary_color;
        color: $secondary_color;
        font-size: 14px;
      }
    }
    div.notice {
      color: grey;
      font-size: 11px;
    }
    div.error {
      color: red;
      font-size: 11px;
    }
    div.field_with_errors {
      padding: 0;
      border: 1px solid red;
    }
  }
}

.pagination {
  height: 23px;
  padding: 20px 0 0 0;
  span.previous_page, span.next_page {
    padding: 3px 6px;
  }
  span.previous_page, a.previous_page {
  }
  span.next_page, a.next_page {
  }
  a {
    margin: 0 5px 0 0;
    padding: 3px 6px;
    text-decoration: none;
  }
  a:hover {
    background: none repeat scroll 0 0 #00555A;
    color: #FFFFFF;
  }
  em {
    margin: 0 5px 0 0;
    padding: 3px 6px;
    font-style: normal;
    background: none repeat scroll 0 0 #00555A;
    color: #FFFFFF;
  }
}

.messagediv {
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.mainbox {
  padding-bottom: 4px;
}

.leftarea {
  $mb: 20px;
  width: 700px;
  min-height: 500px;
  float: left;
  .banner {
    margin-bottom: 20px;
  }
  ul.homebtn {
    padding: 10px 0;
    background-color: #fff;
    margin-bottom: $mb;
    border: 1px solid $border_color;
    li {
      width: 100px;
      height: 74px;
      float: left;
      a {
        display: block;
        width: 100px;
        height: 74px;
        background: url("/assets/homebtn.jpg") no-repeat 0 0;
        text-indent: -9999px;
      }
      a.text {
        background-position: 0 0;
      }
      a.text:hover {
        background-position: 0 -74px;
      }
      a.photo {
        background-position: -100px 0;
      }
      a.photo:hover {
        background-position: -100px -74px;
      }
      a.video {
        background-position: -300px 0;
      }
      a.video:hover {
        background-position: -300px -74px;
      }
      a.activity {
        background-position: -200px 0;
      }
      a.activity:hover {
        background-position: -200px -74px;
      }
      a.goods {
        background-position: -400px 0;
      }
      a.goods:hover {
        background-position: -400px -74px;
      }
    }

  }
  ul.homenav {
    padding-left: 20px;
    height: 30px;
    border-bottom: 1px solid $grey1;
    position: relative;
    margin-bottom: $mb;
    li {
      float: left;
      height: 30px;
      line-height: 30px;
      margin-right: 1px;
      a {
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        border:  1px solid $grey1;
        border-bottom: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: relative;
        z-index: 999;
      }
      a:hover {
        text-decoration: underline;
      }
      a.on {
        background: url("/assets/bg1.png");
        border-bottom: 1px solid $grey2;
      }
      a.on:hover {
        text-decoration: none;
      }
    }
  }
  .list {
    background-color: #fff;
    border: 1px solid $border_color;
    .item {
      width: 660px;
      margin: 0 auto;
      padding: 20px;
      border-bottom: 1px dashed $grey1;
      .avatar {
        float: left;
        width: 100px;
        img {
          width: 80px;
          height: 80px;
          border: 1px solid $grey1;
        }
      }
      .content {
        float: left;
        width: 560px;
        .name {
          color: #cc3399;
          height: 30px;
          line-height: 30px;
        }
        .title {
          line-height: 40px;
          font-size: 18px;
          color: #333;
          a {
            text-decoration: underline;
          }
        }
        .text {
          line-height: 30px;
        }
        .action {
          height: 30px;
          line-height: 30px;
          color: #666;
          font-size: 12px;
          a {
            color: #666;
            font-size: 12px;
          }
          .tags {
            span {
              margin-right: 4px;
              a {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .show {
    background-color: #fff;
    border: 1px solid $border_color;
    .avatar {
      float: left;
      width: 100px;
      img {
        width: 80px;
        height: 80px;
        border: 1px solid $grey1;
      }
    }
    .content {
      float: left;
      width: 560px;
      .name {
        color: #cc3399;
        height: 30px;
        line-height: 30px;
      }
      .title {
        line-height: 40px;
        font-size: 18px;
        color: #333;
        a {
          text-decoration: underline;
        }
      }
      .text {
        line-height: 30px;
      }
      .action {
        height: 30px;
        line-height: 30px;
        color: #666;
        font-size: 12px;
        a {
          color: #666;
          font-size: 12px;
        }
        .tags {
          span {
            margin-right: 4px;
            a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.rightarea {
  width: 250px;
  min-height: 480px;
  float: right;
  .userbox {
    border: 1px solid $border_color;
    background-color: #fff;
    .userpic {
      padding-top: 20px;
      text-align: center;
      img {
        border: 1px solid $grey1;
        width: 160px;
        height: 160px;
      }
    }
    .username {
      text-align: center;
      height: 40px;
      line-height: 40px;
    }
    .userinfo {
      ul {
        border-bottom: 1px dashed $grey1;
        padding: 10px 0;
        margin-bottom: 10px;
        li {
          float: left;
          width: 60px;
          height: 54px;
          border-right: 1px solid $grey1;
          text-align: center;
          .up {
            height: 24px;
            line-height: 24px;
          }
          .down {
            height: 30px;
            line-height: 30px;
            overflow: hidden;
          }
        }
      }
    }
    .homebtn {
      padding: 20px 0;
      text-align: center;
    }
  }
}

.writediv {
  .singlediv {
    margin-bottom: 10px;
    .title {
      line-height: 30px;
      small {
        font-size: 12px;
        color: grey;
      }
    }
    .inputdiv {
      .input {
        width: 600px;
        height: 30px;
        padding: 4px;
        border: 1px solid #ddd;
        border-bottom: 1px solid #b7b7b7;
        font-size: 16px;
      }
    }
  }
  .btns {
    .submit {
      display: block;
      width: 76px;
      height: 36px;
      line-height: 36px;
      color: #fff;
      text-align: center;
      background-color: #006666;
      border: 1px solid #006666;
      border-radius: 4px;
      font-size: 14px;
    }
    a.cancel {
      display: block;
      width: 76px;
      height: 36px;
      line-height: 36px;
      color: grey;
      text-align: center;
      background-color: $grey1;
      border-radius: 4px;
    }
  }
}









